{% extends "base.html" %}

{% block title %}SaleScraper - Submission confirmed{% endblock %}

{% block body %}

	<main role="main">

		<!-- Alert for successful submission -->
		<div class="alert alert-success" role="alert">
		  <h4 class="alert-heading">Success!</h4>
		  <p>Your item is now being tracked. You will receive a confirmation text at the number you entered.</p>
		  <hr>
		  <p class="mb-0">To return to the homepage and/or track another item, <a href="/index" class="alert-link">click here</a>.</p>
		</div> 

	</main>

{% endblock %}